.vscode/
input.txt
output.txt
template
template.cpp
weird_algorithm
missing_number
repetitions
increasing_array-cses
permutations-cses
number-spiral-cses
two_knights-cses
two_sets-cses
p1
p2
p3
bit_strings-cses
trailing_zeroes-cses
palindrome_reorder
palindrome_reorder-cses
coin_files-cses
gray_code-cses
tower_of_hanoi-cses
creating_strings-cses
distinct_numbers-cses
binary_search
apartments-cses
ferris_wheel-cses
concert_tickets-cses
restaurant-customers-cses
movie_festival-cses
D_permutation_subsequence.cpp
p4
maximum_subarray_sum-cses
C_sigma_problem-TLE
collecting_numbers
D_intersecting_intervals_attempt
collecting_numbers_ii-cses.cpp
towers-cses
traffic_lights-cses
sum_of_three_values-cses
dmopc_18_contest_5_p3-dmoj
dmopc_18_contest_2_p4-dmoj
3_harvest
4_damage_output
8_deploying_troops-dmoj
5_a_classic_problem
5_a_classic_problem.cpp
the_cosmic_era_p2_uneven_sand-dmoj
age_demographics-cses
favorite_number-dmoj
2_eko
s3_lunch_concert.cpp
s3_lunch_concert
nearest_smaller_values-dmoj
2_towering_towers
sliding_window_median-cses
sliding_window_median-cses.cpp
4_deforestation
avocado_trees-dmoj
gfssoc_15_fall_j4_marathon-dmoj
lil_jami-dmoj
2_thief_in_the_night
5_watchmeblink1
the_cosmic_era_p3_battle_positions-dmoj
2_victors_moral_dilemma
vm7wc_16_2_silver_gg-dmoj
forest_queries-cses
the_cake_is_a_desert-dmoj.cpp
the_cake_is_a_desert-dmoj
word_scrambler-dmoj
dwite_09_word_scrambler-dmoj
dynamic_sum_range_queries-cses
dynamic_min_range_queries-cses
dynamic_range_minimum_test-dmoj
dynamic_range_minimum_test-dmoj.cpp
BIT_dynamic_range_sum_queries-cses
binary_indexed_tree_test-dmoj
vm7wc_16_3_silver-dmoj
DFS_vm7wc_16_3_silver-dmoj
BFS_vm7wc_16_3_silver-dmoj
DFS_recursion_vm7wc_16_3_silver-dmoj
ucc_20_p5_public_transportation-dmoj
j5_choose_your_own_path
s4_who_is_taller
s4_DFS_who_is_taller
ddrp3_tudor_and_the_pusheens-dmoj
sac_22_p3_rating_choices-dmoj.cpp
graph_3_p1_travelling_salesman-dmoj
hci_16_oversleep-dmoj
tsoc15c1p5_giant_ants-dmoj
3_BFS_crossing_fields-dmoj
3_DFS_crossing_fields-dmoj
dwite_07_c4_p4_shortest_path_around-dmoj
dwite_08_c4_p4_shortest_path_around_v2-dmoj
dwite_10_c4_p4_mountain_hiking-dmoj
4_afk-dmoj
dwite_11_c3_p4_abca_maze-dmoj
dwite_08_c1_p3_schools_a_maze-dmoj
5_surprise_teleport
j5_knight_hop
dwite_07_c5_p4_train_ride-dmoj
s3_maze
sac_22_cc2_p4_cookie_galore-dmoj
single_source_shortest_path-dmoj
dwite_09_c6_p5_air_travel_planning-dmoj
s4_dijkstra_shop_and_ship
vm7wc_c15_p4_gold_chain_rule-dmoj
vm7wc_c16_p3_gold_hello_officer-dmoj
traffic_lights-dmoj
4_exam_delay
vmss_c15_p4_frank_and_roads-dmoj
A_edu_dp_memoization-dmoj
B_edu_dp_frog_2-dmoj
C_edu_dp_vacation-dmoj
D_edu_dp_knapsack_1-dmoj
E_edu_dp_knapsack_2-dmoj
noi_97_p4_perfect_tour-dmoj
H_edu_dp_grid_1-dmoj
maximum_sum-dmoj
p5
p6
E_photoshoot_for_gorillas
longest_increasing_subsequence-dmoj
ioi_94_p1_the_triangle-dmoj
s5_dp_mouse_journey
F_edu_dp_lcs-dmoj
G_edu_dp_longest_path-dmoj
j5_keep_on_truckin
longest_common_subsequence-dmoj
s4_waterpark
valday_15_p2_simon_and_marcy-dmoj
gfssoc_15_p5_bruno_and_pumpkins-dmoj
s4_golf
coin_change-dmoj
vm7wc_16_p5_jayden_eats_chocolate-dmoj
p5_candy
j4_its_tough_being_a_teen
sac_22_cc5_jp4_course_requirements-dmoj
ccc_j4_its_tough_being_a_teen_v2-dmoj
death_gun-dmoj
p4_cars_on_ice
p1_moving_day
a_noisy_class-dmoj
dmpg_17_s2_anime_conventions-dmoj
sac_21_p5_friends_of_friends-dmoj
graph_contest2_p1_connected_components-dmoj
exam_prep-dmoj
2_ebola_outbreak-dmoj
3_wish_upon_a_star-dmoj
road_reparation-cses
4_line_graph
disjoint_set_test-dmoj
ac7_p3_network_connections-dmoj
s5_trucking_troubles
vmss7wc16c5p3_jayden_studies_trees-dmoj
sleigh_ride-dmoj
1_the_students_council_breakfast
btoi07p3_sound
s1_keeping_score
s1_snakes_and_ladders
s1_fix
s1_snow_calls
s1_maternity
s1_federal_voting_age
s1_its_cold_here
s1_cool_numbers
s1_computer_purchase
s1_english_or_french
s1_dont_pass_me_the_ball
s1_from_1987_to_2013
s1_party_invitation
s1_zero_that_out
s1_ragaman
s1_sum_game
s1_voronoi_villages
s1_flipper
s1_hat_circle
s1_trianglane
s1_crazy_fencing
s1_good_fours_and_good_fives
s1_surmising_a_sprinters_speed