.vscode/
input.txt
output.txt
template
template.cpp
weird_algorithm
missing_number
repetitions
increasing_array-cses
permutations-cses
number-spiral-cses
two_knights-cses
two_sets-cses
p1
p2
p3
bit_strings-cses
trailing_zeroes-cses
palindrome_reorder
palindrome_reorder-cses
coin_files-cses
gray_code-cses
tower_of_hanoi-cses
creating_strings-cses
distinct_numbers-cses
binary_search
apartments-cses
ferris_wheel-cses
concert_tickets-cses
restaurant-customers-cses
movie_festival-cses
D_permutation_subsequence.cpp
p4
maximum_subarray_sum-cses
C_sigma_problem-TLE
collecting_numbers
D_intersecting_intervals_attempt
collecting_numbers_ii-cses.cpp
towers-cses
traffic_lights-cses
sum_of_three_values-cses
dmopc_18_contest_5_p3-dmoj
dmopc_18_contest_2_p4-dmoj
3_harvest
4_damage_output
8_deploying_troops-dmoj
5_a_classic_problem
5_a_classic_problem.cpp
the_cosmic_era_p2_uneven_sand-dmoj
age_demographics-cses
favorite_number-dmoj
2_eko
s3_lunch_concert.cpp
s3_lunch_concert
nearest_smaller_values-dmoj
2_towering_towers
sliding_window_median-cses
sliding_window_median-cses.cpp
4_deforestation
avocado_trees-dmoj
gfssoc_15_fall_j4_marathon-dmoj
lil_jami-dmoj
2_thief_in_the_night
5_watchmeblink1
the_cosmic_era_p3_battle_positions-dmoj
2_victors_moral_dilemma
vm7wc_16_2_silver_gg-dmoj
forest_queries-cses
the_cake_is_a_desert-dmoj.cpp
the_cake_is_a_desert-dmoj
word_scrambler-dmoj
dwite_09_word_scrambler-dmoj